h1 

{
	 color:#FFFFFF;
     font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
     text-align : center;
}

h2

{
	 color:black;
     font-family:"Times New Roman", Times, serif
}

p

{
	
	color:black;
	font-family:"Times New Roman", Times, serif
}
